[run]
omit =
    pyvenv/*
    test/*
    */common/__init__.py
    */common/logger.py
    */common/test/*
    */common/transform/__init__.py
    */common/transform/transform_config.py
    */common/transform/test/*
